## 2. На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [173]:
def total_fruits(**kwargs):
    return sum(kwargs.values())
    
total_fruits(apples=100, oranges=50, lemons=40)

190

## 3. Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [46]:
sum(storage.values())

160

In [80]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
final_exp = [i for i in expenses if i >= 0]
final_exp

[100, 125, 345, 655, 0, 200]

In [81]:
sum([i for i in expenses if i >= 0])

1425

In [64]:
total = list(filter(lambda cost: cost > 0, expenses))
total

[100, 125, 345, 655, 200]

In [82]:
final_exp = list(filter(lambda cost: cost >= 0, expenses))
final_exp

[100, 125, 345, 655, 0, 200]

In [63]:
total = [i for i in tot]
total

[100, 125, 345, 655, 200]

In [83]:
sum(list(filter(lambda cost: cost >= 0, expenses)))

1425

In [77]:
sum(total)

1425

## 4. Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [167]:
date_of_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
                    '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
                    '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
                    '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
                    '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
                    '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_of_purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037,
                   4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008,
                   316, 6333, 5700, 2887]
print(len(date_of_purchase), len(sum_of_purchase))

30 30

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [198]:
total_november = sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
          if date_of_purchase[i][5:7] == '11']))
print(f'Выручка у компании в ноябре составила {total_november}')

Выручка у компании в ноябре составила 25098

In [195]:
# немного другой вариант
sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
           if '-11-' in date_of_purchase[i]]))

25098

In [197]:
# проверяю себя циклом
total = 0
for i in range(len(sum_of_purchase)): 
    if date_of_purchase[i][5:7] == '11':
        total += sum_of_purchase[i]
total

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [ ]:
if int(dates[i][5:7]) == m:

In [236]:
def sums_by_months(dates: list, sums: list) -> dict:
    month_dict = {}
    month_lst = ('Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь')
    i = 0
    for m in range(9, 13):
        month_dict[month_lst[i]] = sum(list([sums[i] for i in range(len(sums)) 
            if int(dates[i][5:7]) == m]))
        i += 1
    return month_dict

sums_by_months(date_of_purchase, sum_of_purchase)

{'Сентябрь': 25647, 'Октябрь': 28645, 'Ноябрь': 25098, 'Декабрь': 45452}

Проверка:

In [245]:
total = sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
           if '-09-' in date_of_purchase[i]]))
print(f'September {total}')

September 25647

In [248]:
total = sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
           if '-10-' in date_of_purchase[i]]))
print(f'Oktober {total}')

Oktober 28645

In [247]:
total = sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
           if '-11-' in date_of_purchase[i]]))
print(f'November {total}')

November 25098

In [249]:
total = sum(list([sum_of_purchase[i] for i in range(len(sum_of_purchase)) 
           if '-12-' in date_of_purchase[i]]))
print(f'December {total}')

December 45452

<h5><b>Sums by months</b></h5>
<table>
    <tr>
        <td>September</td>
        <td>25647</td>
    </tr>
    <tr>
        <td>October</td>
        <td>28645</td>
    </tr>
    <tr>
        <td>November</td>
        <td>25098</td>
    </tr>
    <tr>
        <td>December</td>
        <td>45452</td>
    </tr>
</table>